<!-- {% extends 'layout.html'%}

{% block begin %}
    {% for p in persons %}
  <table style="border:1px solid black;margin-bottom:2px">
    <tr>
        <th style="padding:15px">Name</th>
        <th style="padding:15px">Age</th>
        <th style="padding:15px">Job</th>
        <th style="padding:15px">Location</th>
    </tr>
    <tr>
      <td style="padding:15px">{{p.name}}<br></td>
      <td style="padding:15px">{{p.age}}<br></td>
      <td style="padding:15px">{{p.Job}}<br></td>
      <td style="padding:15px">{{p.loc}}<br></td>
    </tr>
  </table>
    {% endfor %}


{% endblock %} -->
